.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vol-icon-mute {
    display: none;
}

#play-icon {
    display: none;
}

.vol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vol i,
.vol input {
    margin: 5px;
}

video {
    position: relative;
    height: 500px;
    aspect-ratio: 56, 25%;
    object-fit: cover;
}

.tools {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: fit-content;
    background-color: #000;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.progress {
    background-color: yellow;
    height: 5px;
    width: 100%;
}

.buttons {
    display: none;
    transition: 200ms;
}

.buttons.show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
